<h1>My new reservation</h1>
<%= simple_form_for [@place, @booking] do |f| %>
  <%= f.label :start_date %>
  <%= f.text_field :start_date %>
  <%= f.label :end_date %>
  <%= f.text_field :end_date %>
  <%= f.submit %>
<% end %>
