<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
      <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag("https://cdn-icons-png.flaticon.com/512/8244/8244219.png", class:'logo') %>
    <% end %>
  <a class="navbar-brand mg-2" href="#">Hostplace</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://cdn-icons-png.flaticon.com/512/3577/3577429.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "nav-link" %>
              <%= link_to "Another action", "#", class: "nav-link" %>
            </div>
          </li>
        <% else %>
          <ul class="header-btn btn-2">
            <%= button_to "Registrarse", new_user_registration_path, method: :get, class: "nav-link" %>
          </ul>
          <ul class="header-btn btn-2">
            <%= button_to "Iniciar Sesión", new_user_session_path, method: :get, class: "nav-link" %>
          </ul>
        <% end %>
      </ul>
    </div>
  </div>
</div>
