<div id="<%= dom_id place %>">

  <h1>
    <%= link_to(place.name, place) %>
  </h1>

  <p>
    <strong>Country:</strong>
    <%= place.country %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= place.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= place.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= place.picture %>
  </p>
</div>
