  <div class="card p-2">
    <%# <%= cl_image_tag( locals[:place].photo.key, height: 400, width: 600, crop: :fill) if :place.inspect %> %>
    <%= locals[:place].attributes %>
    <div class="card-body">
      <h1><%= link_to(locals[:place].name, locals[:place], class:"h1")%></h1>
      <ul>
      <p><strong>Country:</strong>
      <%= locals[:place].country %></p>
      <p><strong>Address:</strong>
      <%= locals[:place].address %></p>
      <p><strong>Description:</strong>
      <%= locals[:place].description %></p>
    </div>
    </ul>
</div>
