<div id="<%= dom_id place %>" class="bg-info container">

  <h1>
    <%= link_to(place.name, place) %>
  </h1>

  <p>
    <strong>Country:</strong>
    <%= locals[:place].country %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= locals[:place].address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= locals[:place].description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= locals[:place].picture %>
  </p>

  <%= button_to "Edit place", edit_place_path (locals[:place]), method: :get %>
  <br>
  <%= button_to "Destroy this place", place, method: :delete %>
</div>
