<div id="<%= dom_id place %>" class="bg-info container">

  <h1>
    <%= link_to(place.name, place) %>
  </h1>

  <p>
    <strong>Country:</strong>
    <%= place.country %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= place.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= place.description %>
  </p>

  <span>
    <strong>Picture:</strong>
    <p>
      <%= place.picture ? image_tag(place.picture_url) : "Imagen no disponible" %>
    </p>
  </span>

  <p>
    <strong>User:</strong>
    <%= place.user.email %>
  </p>

  <%= button_to "Edit place", edit_place_path(place), method: :get %>
  <br>
  <%= button_to "Destroy this place", place, method: :delete %>
</div>
